@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
/*todo o universal*/
* {
    font-family: 'Oswald', sans-serif;
    cursor: url(/IMG/puntero-de-flecha.cur), default;
    font-size: 15px;
}
body {
    background-color: #1b1b1e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%239C92AC' fill-opacity='0.01' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

#principal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url(/IMG/puntero-de-mano.cur), auto;
}

/*nav-main*/

.nav-container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    background: #373f51;
    border-bottom: 1px solid #667597;
}

.nav-main{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    gap: 30px;
    color: #D8DBE2;
    transition: all 2s;
}

.nav-main li:hover{
    transform: translateY(-5px);
    color: #ffffff;
    text-decoration: underline;
}

.nav-main li:focus{
    transform: translateY(-px);
    color: #ffffff;
    text-decoration: underline;
}

/*Title */
.title-content h1,h2 {
    font-size: 2rem;
    color: #58A4B0;
    text-align: center;
    transition: all 1s;
}
.title-content h2 {
    color: #ffffff;
}

.title-content span {
    font-size: 2rem;
    color: #ffffff;
}

.title-content h1:hover{
    color: #58A4B0;
    opacity: .4;
    text-align: center;
    transform: translateY(-5px);
}

.title-content h2:hover {
    color: #58A4B0;
    opacity: .4;
    text-align: center;
    transform: translateY(-5px);
}

/* Imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 300px;
    border: 10px solid #82b9c2;
    transition: all .4s;

}

.image-container img:hover {
    transform: translateY(-10px);
}

/*CONTENTS PROJECT*/
.content-projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-projects h2 {
    color: #ffffff;
}
.text-projects h2:hover{
    color: #ffffff;
    transform: translateY(-10px);
}

.projects {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #58A4B0;
    transition: all 2s;
}

.projects h3{
    font-size: 2rem;
    color: #ffffff;
}

.projects:hover {
    transform: translateY(-10px);
}

.projects i {
    font-size: 2rem;
    margin: 10px;
    color: #ffffff;
}

/* text content */
.content-history {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 100%;
}

.content-history h1 {
    color: #ffffff;
    font-size: 2rem;
    
}

.content-history h2, p{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/*container footer*/
.principal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #58A4B0;
    width: 100%;

}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer li{
    display: inline;
    margin: 10px;
}

.footer i {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

/* CURRICULO*/











/*media query*/

@media screen and (max-width: 768px) and (min-height: 200px){ 
    body{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    #principal-container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    h2 {
        font-size: 1rem;
        color: #ffffff;
        font-weight: normal;
    }

    .nav-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
    }
    
    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects h3{
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: normal;
    }

    .content-history {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 0.2rem;
        padding-bottom: 40px;
    }
    .pequeno-text {
        padding: 0;
    }

    .content-history p{
        padding: 0;
        margin: 5px;
        color: #ffffff;
        font-size: 1rem;
        text-align: center;
        padding-bottom: 40px;
    }

    .footer{
        width: 100%;
        height: 100%;
        background-color: #58A4B0;
        text-align: center;
    }
    .main-footer{
        padding: 0;
    }

    .text-footer{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 0.2rem;
    }
    .text-footer p{
        text-align: center;
        font-size: 0.9rem;
    }
}

@media screen and (orientation: landscape) and (max-width: 844px) { 
    body{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    #principal-container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    h2 {
        font-size: 1rem;
        color: #ffffff;
        font-weight: normal;
    }

    .nav-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
    }

    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects h3{
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: normal;
    }

    .content-history {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 0.2rem;
        padding-bottom: 40px;
    }
    .pequeno-text {
        padding: 0;
    }

    .content-history h2, p{
        padding: 0;
        color: #ffffff;
        margin: 5px;
        font-size: 1rem;
        text-align: center;
        padding-bottom: 40px;
    }

    .footer{
        width: 100%;
        height: 100%;
        background-color: #58A4B0;
        text-align: center;
    }
    .main-footer{
        padding: 0;
    }

    .text-footer{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 0.2rem;
    }
    .text-footer p{
        text-align: center;
        font-size: 0.9rem;
    }
}